@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;

}


/* body{
    background-color: black;
    color: white;
}

 */

.left {
    width: 25vw;
    padding: 10px;
    ;
}

.right {
    width: 75vw;
}

.home ul li {

    display: flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    padding-left: px;

}

.logo {
    width: 5px;
    height: 16px;

}
.footer{
    display: flex;
    font-size:10px;
    
    
}
.footer a {
    color: grey;
    text-decoration: none;
    
    
}
.library .heading{
    display: flex;
    gap: 10px;
    margin-left:5px;
}
.library{
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 8px;
    color: grey;
    gap: 11px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}
.footer a{
    color: grey;
}
.right{
    margin: 16px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-around;
}
