@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;

}


body{
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 8px;
    
}

.right {
    width: 75vw;
    
}

.home ul li {

    display: flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    padding-left: px;

}

.logo {
    width: 150px;
    height: 20px;

}
.footer{
    display: flex;
    font-size:10px;
    
    
}
.footer a {
    color: grey;
    text-decoration: none;
    
    
}
.library .heading{
    display: flex;
    gap: 10px;
    margin-left:5px;
}
.library{
    min-height: 80vh;
    position: relative;
    
}

.footer {
    display: flex;
    font-size: 8px;
    color: grey;
    gap: 11px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}
.footer a{
    color: grey;
}
.right{
    margin: 16px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.header > *{
    padding:15px;
}
.right{
    margin:13px 0;
    position: relative;
}
.spotifyplaylist{
    padding: 16px;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    width: 160px;
    height: 260px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;

}
.card img {
    width: 100%;
    object-fit: contain;
    
}
.card >*{
    padding-top: 3px; 
    
}

.card{
    position: relative;
}
.card:hover .play {
  opacity: 1;
  
}


.play{
  width: 28px;
  height: 28px;
  background-color:#1fdf64;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  top: 125px;
  right: 12px;
  opacity: 0;
transition: all 1s ease-out;  

  
}
.play img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 4px;  
  filter: brightness(0); 

}

.buttons>*{
    margin:0 10px;

}
.signupbtn{
    background-color:rgb(34, 34, 34);
    color: rgb(126, 121, 121);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.signupbtn:hover{
    font-size: 15px;
    color: white;
}
.loginbtn{
    background-color: white;
    border-radius: 20px;
    color:black;
    padding: 8px;
    width: 75px;
    cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
    width: 85px;    
}

.playbar{
    position: fixed;
    bottom: 15px;
    filter: invert(1);
    background: #dad5d5;
    width: 90%;
    width: 70vw;
    padding: 12px;
    border-radius: 13px;
    height: 30px;
}
.songsbtn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.songlist ul{
    padding: 0px 10px;
    
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding:12px 0;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    overflow-wrap: anywhere;
    align-items: center;

    

}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;

}
.playnow img{
    height: 35px;
    width: 25px;
}
.playnow span{
    width: 50px;
    font-size: 11px;

}
.info{
    font-size: small;
    width: 400px;
}
.songlist{
    overflow: scroll;
    height: 500px;
    margin: 20px 0;
}
.seekbar{
    height: 4px;
    width: 98%;
    background-color:black;
    border:2px solid white;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    left: 0;
    cursor: pointer;
}
.circle{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    bottom:5px;
    transition: left 0.5;
}
.songsbtn img{
    cursor: pointer;
}


.songinfo,.songtime{
    color: black;
    padding: 0 12px;
}
.bar{
    display: flex;
    justify-content: space-between;
}

@media (max-width:1400px) {
    .left{
        background-color: red;
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 233px; 

    }


}
    
